<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PDXNode</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/style.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="hero">
      <div class="hero-body center">
        <img class="logo" alt="PDXNode" src="https://rawgit.com/PDXNode/pdxnode/master/assets/logo.svg" width="240">
        <h4>Portland's very own Node.js usergroup</h4>
        <p>
          <a href="https://www.meetup.com/pdxnode"><img alt="meetup" src="https://img.shields.io/badge/meetup-view%20events%20%E2%86%92-red.svg"></a>
          <a href="https://github.com/pdxnode"><img alt="github" src="https://img.shields.io/badge/github-code%20with%20us%20%E2%86%92-orange.svg"></a>
          <a href="https://twitter.com/pdxnode"><img alt="twitter" src="https://img.shields.io/badge/twitter-follow%20us%20%E2%86%92-blue.svg"></a>
          <a href="https://gitter.im/pdxnode/Lobby"><img alt="gitter" src="https://img.shields.io/badge/gitter-join%20chat%20%E2%86%92-brightgreen.svg"></a>
        </p>
      </div>
    </div>
  </body>
</html>
