<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Author Downloads | PDXNode</title>
    <link rel="shortcut icon" href="/favicon.ico?q=3" />
    <link rel="stylesheet" href="https://unpkg.com/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
      .module-search { margin: 1em 0 3em }
      fieldset { margin: 0 }
    </style>
  </head>
  <body>
    <div class="hero">
      <div class="hero-body">
        <div class="content">
          <h1><a href="/module-stats">module stats</a></h1>
          <% if (username == null) { %>
            <p>Enter your npm username to view module stats.</p>
          <% } %>
          <form class="module-search">
            <div class="input-field">
              <input name="username" type="text" placeholder="npm username" value="<%= username %>">
              <input class="btn" type="submit" value="find modules">
            </div>
          </form>
          <% if (list == null || list.length === 0) { %>
            <% if (username != null) { %>
              <p>No modules found for this user.</p>
            <% } %>
          <% } else { %>
            <table>
              <thead>
                <tr>
                  <th>package</th>
                  <th>version</th>
                  <th>downloads</th>
                </tr>
              </thead>
              <tbody>
                <%- list.map(pkg =>
                  `
                    <tr>
                      <td><a href="https://npm.im/${pkg}">${pkg}</a></td>
                      <td><img src="https://img.shields.io/npm/v/${pkg}.svg" alt="npm version"></td>
                      <td><img src="https://img.shields.io/npm/dm/${pkg}.svg" alt="downloads per month"></td>
                    </tr>
                  `
                ).join(' ') %>
              </tbody>
            </table>
          <% } %>
          <footer>
            made with 💻❤️ by <a href="https://github.com/ungoldman">ungoldman</a>
          </footer>
        </div>
      </div>
    </div>
    <script>
      document.querySelector('.module-search').addEventListener('submit', function (event) {
        event.preventDefault()
        window.location.href = '/module-stats/' + this.elements.username.value
      })
    </script>
  </body>
</html>
