html {
  color: #000;
}
.hero {
  align-items: center;
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #c2e59c, #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #c2e59c, #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
.hero-body {
  padding: 3em 1em;

}
.hero-body.center { text-align: center }
